body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* navbar */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


/* background video */

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    /* min-width: 100%;
    min-height: 100%; */
    width: 100%;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 80px;
}

/* btn */

.book-btn {
    border: 1px solid rgba(20, 20, 83, 0.664);
    border-radius: 15px;
    padding: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Review section */
.card-body{
    background-color: #1e15013a;
    box-shadow: 0px 3px 10px 0px rgba(218, 165, 32, 0.513);
}

    .card {
        border: none;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 0 auto;
        width: 40%;
        font-family: 'Times New Roman', Times, serif;text-align: center;
       
    }

    .card-title{
    
    }

    /* .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: rgba(0, 0, 0, 0.174);
        border-radius: 50%;
        width: 50%;
    } */

    .star-rating {
        color: #FFD700; /* Gold color for stars */
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    .carousel-item {
        display: flex;
        justify-content: center;
    }